.background{
    background-image: url('https://lh3.googleusercontent.com/_5Xed5udS6komV7f_7H-cWgQsGRkImSfVtk8Sy4KLwexh3xVEG9fQTlxbxvZ6uGg3oi8TlartXim-TWgY0vdrll8kgDKfFcsY5WtPGuATf-lyEDU81LW0NM7Rm6VRfEo6GuFMd3uryb_LsSfxfmdYNSMNiS5K7Gpt_vzqCQ3LiaWkg7p7I6F_Sf7F-sfJgf04-4JuR8Q5W3bVwAgKPSYUrp76q07vFuPI--EEaWTioL9gS-gNRFJViVjaIST8Jl80Y6oM4JlilCdQOyVWtbdTKTCn2afnIMQ1jwtX6rZgyp1RdVX4SphbKKq1ymHQ5IpBtM14OzmlpTpigMtyVB_9wwb5kHCNVnBqRfZ9j3pY2WGTkBZI_HeEnpZ5hc7VsEebpFelxLmhrLn0pLBxNLZl2FIwmCcSzb0QfJRplaxT7JNuRl_MN7d5oDGGG1r9KujVC3M2Wgivu7zAxNGBb0ccIQfa5z5c77xxwNVVC3HqAbce3c0QJBNDSetE92kspecSq27aYE_iljIn9uGVegqKJZ8tPSM42uLFt9_Lrz7ghaRMqXKglKTAHfsvCcYw_77Am7yE60oosLBUSYx--5uv7_JN-EEMzXnHfoe6n5_1pvhrWKmqAZXSJ9nTVTxN5v__ZmQM6ybvHdmeUSQqF4wBnEegXJLK3Z4_aw7S5sT5zur9nQNeSyu5laT6xLiYw=w1112-h695-no?authuser=0');
    background-size: 100% 100%;
}
#background{
    width: 100%;
    height: 695px;
    background-color: rgba(0, 0, 0, 0.623);
}
.left-side{
    width:49%;
    margin-top: 100px;
    padding: 0 50px;
    height: 300px;
    color: white;
}
.right-side-of-detail{
    width:25%;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 30px;
    border: 3px solid rgb(14, 57, 250);
    height: 300px;
    background-color:whitesmoke;
    padding-right: 50px;
    padding-top: 30px;
    border-radius: 15px;
}
.tow-side{
    display: flex;
}
#booking{
    margin-left: 30px;
}